.page-wrapper {
  background: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.ml-auto, .mx-auto {
  margin-left: auto !important;
}

@media (min-width: 992px) {
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.mr-auto, .mx-auto {
  margin-right: auto !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .5rem 1rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbar-collapse {

  align-items: center;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 992px) {
  .navbar-toggle {
    position: absolute;
    right: 0;
    background: #03A9F4;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 0;
    margin-right: 15px;
    -webkit-box-shadow: 0 18px 42px 0 rgba(28, 30, 35, 0.15);
    -moz-box-shadow: 0 18px 42px 0 rgba(28, 30, 35, 0.15);
    box-shadow: 0 18px 42px 0 rgba(28, 30, 35, 0.15);
  }

}

@media screen and (max-width: 900px) {
  .d-flex {
    display: inline-block !important;
    text-align: center;
  }

  .row {
    display: block;
  }

  .white-txt {
    color: white;
  }

  .round-animation img {
    max-width: 100% !important;
  }

  .img-center {
    max-width: 100% !important;
  }

  .water-section {
    display: none;
  }

  .client .d-flex {
    display: flex !important;
  }
}
.navbar-toggle .icon-bar {
  position: relative;
   left: 6px;
  background: white;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

.twPc-div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 200px;
  max-width: 340px;
  box-shadow: 0 0 3px 2px #eeee;
}

.twPc-bg {
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 85px;
  width: 100%;
}

.twPc-block {
  display: block !important;
}

.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}

.twPc-avatarLink {

  background-color: #fff;
  border-radius: 6px;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}

.twPc-avatarImg {
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 7px;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}

.twPc-divUser {
  margin: 5px 0 0;
}

.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.twPc-divName a {
  color: inherit !important;
}

.twPc-divStats {
  margin-left: 11px;
  padding: 30px 0;
}

.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}

ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}

.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}

.twPc-StatValue {
  display: inline-flex;
  white-space: nowrap;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}

.twPc-StatLabel {
  font-weight: 800;
  color: #1d1e1f;
  font-size: 11px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  text-decoration: underline;
  transition: color 0.15s ease-in-out 0s;
}
