<div class="card box3">
  <div class="row">
    <div class="col-md-12">
      <div class="divheading">
        Recent Messages
      </div>
    </div>
  </div>
  <hr class="border-bottom">
  <a routerLink="/chat">
    <div class="row stack">
      <div class="wrap">
        <div class="col-med-3">
          <img class="usercircle" src="assets/images/circleimage.png">
        </div>
        <div class="col-med-9">
          <strong class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Yashwanth</strong>
          <div class="mbr-fonts-style text1 mbr-text display-6">Am good at cooking, can ...</div>
        </div>
      </div>
    </div>
  </a>
  <!---<p class="nodata"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No recent messages.</p> --->
</div>
