<!--<nav class="white" style="padding: 0px 10px;">
   <div class="nav-wrapper">
     <a class="brand-logo">
       <img src="assets/images/Logo.png" class="logoheight">
     </a>
     <ul class="right hide-on-med-and-down">
       <li><a class="colorli">FAQS |</a></li>
       <li><a class="colorli">PRIVACY |</a></li>
       <li><a class="colorli">CONTACT US |</a></li>
       <li><a class="colorli">TERMS OF USE</a></li>
     </ul>
   </div>
   </nav>-->
   <nav class="navbar navbar-fixed footer">
    <div class="row container-fluid">
       <div class="navbar-header col-md-2">
          <a class="navbar-brand" href="#"><img src="assets/images/Careulogo.svg" class="logoheight mediaf"></a>
       </div>
       <ul class="nav navbar-nav col-md-4">
          <li class="active"><a class="colorli">© 2018 CareUchoose Pvt Ltd. All rights reserved.</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right mediafi col-md-6 d-flex">
          <li><a class="colorli">Faqs </a></li>
          <li><a class="colorli">Privacy </a></li>
          <li><a class="colorli">Contact us </a></li>
          <li><a class="colorli">About us</a></li>
         <li><a class="colorli">Terms of use</a></li>
       </ul>
    </div>
 </nav>
