
<div class="row">
  <div class="col-md-4 " style="margin-left: 40%;">
    <form  [formGroup]="Admin_Register" style="text-align:center;" (ngSubmit)="Register_Admin()">
      <label >First Name:</label>
        <input class="form-control" formControlName="email" type="email"  required>
      <label>Password:</label>
      <input class="form-control" formControlName="password" type="password"  required>
      <button type="submit" class="btn btn-info" >submit</button>
    </form>
  </div>
</div>
